<div class="principal">
    <div class="section-primary">
        <h1 class="name">Jeferson Dávila</h1>
        <div class="progress-bar"></div>
        <h3 class="sub-tittle">Web and Mobile Developer</h3>
        <button class="button-primary">¡Conoceme Más!</button>
    </div>
    <div class="section-second">
        <h1 class="tittle">¡Bienvenido!</h1>
        <p class="about-me">
            Soy un apasionado desarrollador web con un enfoque en la creación de soluciones
            tecnológicas efectivas y eficientes. Mi experiencia incluye trabajar con una variedad
            de tecnologías y lenguajes, como:
            Javascript (Angular, React, Node.js), PHP (Laravel), Java (Spring Boot), Desarrollo
            móvil con Flutter e Ionic, CMS (WordPress).
            Además de mis habilidades técnicas, soy una persona comprometida con el
            aprendizaje continuo y la mejora constante. Si bien mi carrera aún está en
            desarrollo , estoy dedicado a crecer y aportar valor en cualquier proyecto en el que
            participe. Siempre busco oportunidades para aprender y colaborar de manera efectiva
            en equipos de desarrollo.
        </p>
        <div class="social-network">
            <ul class="list-social">
                <li><i class="fab fa-github"></i></li>
                <li><i class="fab fa-linkedin"></i></li>
                <li><i class="fas fa-home"></i></li>
            </ul>
        </div>
        
    </div>
</div>